<div class="bg-danger">
    <p class="text-white">
        <strong>Your account has been locked out.</strong> Please try again later or contact support if you believe this is an error.
    </p>
</div>